@typeparam TEnum

<select @oninput="OnValueChanged" disabled="@IsDisabled">
    @foreach (var enumValue in Enum.GetValues(typeof(TEnum)))
    {
        <option value="@enumValue">@enumValue</option>
    }
</select>