@using Microsoft.FluentUI.AspNetCore.Components
<FluentCard>
    <!-- Header -->
    <div>
        <h3>@Title</h3>
        <h5>@SubTitle</h5>
    </div>

    <!-- Content -->
    <div>
        @Content
    </div>

    <!-- Footer -->
    <div>
        @Footer
    </div>
</FluentCard>
